.label {
    -fx-font-size: 11px;
    -fx-text-fill: #333;
}

.text-field {
    -fx-background-color: #f7f7f7;
    -fx-border-color: #cccccc;
    -fx-padding: 4px;
    -fx-font-size: 11px;
    -fx-min-width: 200px;
}

.button {
    -fx-background-color: #4CAF50;
    -fx-text-fill: white;
    -fx-font-size: 11px;
    -fx-padding: 5px 10px;
    -fx-border-radius: 4px;
    -fx-min-width:110px;
}

.button:hover {
    -fx-background-color: #45A049;
}

.vbox {
    -fx-spacing: 10;
    -fx-padding: 20;
}

#resultsOutput {
    -fx-pref-height: 200px;  /* Set preferred height for the box */
    -fx-border-color: #cccccc; /* Add a light border for visibility */
    -fx-border-width: 1px;
    -fx-padding: 5px;         /* Add some padding inside the box */
    -fx-control-inner-background: #f9f9f9; /* Light background color */
    -fx-font-family: "Arial"; /* Set the font family */
    -fx-font-size: 12px;      /* Set the font size */
}

